.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100%;
    padding: 16px;
    margin: 0;
    gap: 16px;
}

.title {
    margin: 8px 0;
}

.url-input {
    border: 1px #666 solid;
    padding: 8px;
    font-size: 16px;
}

.submit {
    background-color: orange;
    border: none;
    padding: 8px;
    font-size: 16px;
}

.downloads {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1rem;
    max-height: 500px;
    overflow: auto;
}

.download {
    background-color: #fff;
    padding: 1rem;
}

.temp-download {
    animation: appear 250ms;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.image {
    max-width: 100%;
}

.progress-bar-empty {
    width: 100%;
    height: 30px;
    background-color: #aaf5;
}

.progress-bar-fill {
    transition: 500ms;
    height: 100%;
    background-color: #99f;
}
