@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

:root {
    /* #141414 */
    --black-0: 20, 20, 20;

    /* #ababab */
    --gray-0: 171, 171, 171;

    /* #393939 */
    --gray-1: 57, 57, 57;

    /* #330e17 */
    --red-0: 51, 14, 23;

    /* #ff003e */
    --red-1: 255, 0, 62;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
